name: Code Coverage
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  CodeCov:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v2
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 7.2.1
      - name: Install modules
        run: cd packages/smart-ui-vite && pnpm install
      - name: Run Test Coverage
        run: cd packages/smart-ui-vite && pnpm coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          directory: packages/smart-ui-vite/coverage # optional