name: CI
  on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]
jobs:
  Lint:

  UnitTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.2.1
      - name: Install modules
        run: pnpm install
      - name: Run Test
        run: pnpm run test:run